<template>
  <div class="box-card">
    <router-link to="/finance/detail/1">
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2 pt-5 pl-5 flex">
          <div class="w-20">
            <el-avatar
              :size="65"
              :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
            ></el-avatar>
          </div>
          <div>
            <p>#291230</p>
            <h2>รัตนมณี ศรีดวงมาศ</h2>
            <p><i class="el-icon-date text-muted"></i> 12/10/22</p>
            <p>
              <i class="el-icon-office-building text-muted"></i> กรุงเทพมหานคร
            </p>
          </div>
        </div>
        <div class="card-right text-center">
          <p>ลำดับที่ 1</p>
          <hr class="my-5" />
          <p>ขอคืนมัดจำ</p>
          <h2>10,500 <span class="text-lg">฿</span></h2>
        </div>
      </div>
    </router-link>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>