<template>
  <el-card>
    <div class="pb-4">
      <div class="flex justify-between">
        <div class="flex">
          <el-avatar
            :size="80"
            :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
          ></el-avatar>
          <div class="ml-5">
            <h2>กาญจนา พิเศษ</h2>
            <div class="text-success">ออนไลน์</div>
          </div>
        </div>
        <div>
          <el-button type="info" plain @click="$router.push('/nurse/edit/1')"
            >ข้อมูลเพิ่มเติม</el-button
          >
        </div>
      </div>
      <el-row :gutter="24">
        <el-col :span="24">
          <h4 class="my-4">ข้อมูลพยาบาล</h4>
          <div class="my-3">
            <p class="">
              <span class="text-muted">ประเภทความชำนาญ : </span> วัดความดัน,
              ดูแลทั่วไป, จัดโภชนาการอาหาร
            </p>
          </div>
        </el-col>
      </el-row>
    </div>
  </el-card>
</template>