<template>
  <el-card>
    <div class="pb-4">
      <div class="flex justify-between">
        <div class="flex">
          <el-avatar
            :size="80"
            :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
          ></el-avatar>
          <div class="ml-5">
            <h2>ดวงใจ มีดวงสุข</h2>
            <div class="text-success">ออนไลน์</div>
          </div>
        </div>
        <div>
          <el-button
            type="info"
            plain
            @click="$router.push('/member/patient/1')"
            >ข้อมูลเพิ่มเติม</el-button
          >
        </div>
      </div>
      <el-row :gutter="24">
        <el-col :span="24" :lg="12" class="border-r">
          <h4 class="my-4">ข้อมูลคนไข้</h4>
          <div class="flex justify-between my-3">
            <p class="w-34 text-muted">ความต้องการ :</p>
            <p class="text-right">พยาบาล</p>
          </div>
          <div class="flex justify-between my-3">
            <p class="w-40 text-muted">ทักษะความต้องการ :</p>
            <p class="text-right">วัดความดัน, ดูแลทั่วไป, จัดโภชนาการอาหาร</p>
          </div>
        </el-col>
        <el-col :span="24" :lg="12">
          <div class="my-4">
            <h4>รายละเอียดความต้องการ</h4>
            <p class="my-3">
              ตรวจวัดความดันและ จัดโภชนาการอาหารและดูแลเด็กเล็ก
            </p>
          </div>
        </el-col>
      </el-row>
    </div>
  </el-card>
</template>