<template>
  <div>
    <div class="mb-4">
      <el-card>
        <div>
          <el-row :gutter="24" type="flex">
            <el-col :span="24" :lg="12" class="border-r">
              <h4 class="my-4">รายละเอียดงาน</h4>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">สถานะ :</p>
                <p class="text-right">ระหว่างดำเนินการ</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ประเภทงาน :</p>
                <p class="text-right">Part-Time</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ระยะเวลา :</p>
                <p class="text-right">30 <span class="text-muted">วัน</span></p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-40 text-muted">เริ่มต้น - สิ้นสุด :</p>
                <p class="text-right">
                  01/08/56 <span class="text-muted">ถึง</span> 01/09/56
                </p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ช่วงเวลา :</p>
                <p class="text-right">09:00 - 18:00</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-40 text-muted">ที่อยู่ :</p>
                <p class="text-right">
                  221/110 หมู่บ้านแฮปปี้แลนด์ แขวงดินแดง เขตดินแดง กรุงเทพมหานคร
                  10120
                </p>
              </div>
            </el-col>
            <el-col :span="24" :lg="12">
              <h4 class="my-4">อัตราค่าจ้าง</h4>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">อัตราค่าจ้าง :</p>
                <p class="text-right">
                  30,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-40 text-muted">มัดจำ :</p>
                <p class="text-right">
                  10,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">เสนอเงินมัดจำ :</p>
                <p class="text-right text-success">
                  9,500 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">สถานะมัดจำ :</p>
                <p class="text-right text-success">ชำระเงินแล้ว</p>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>