<template>
  <div class="card-nurse" :class="bg ? bg : ''">
    <div class="flex p-6 w-full">
      <div class="mr-4">
        <el-avatar
          :size="65"
          :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
        ></el-avatar>
      </div>
      <div class="">
        <p>รอตรวจสอบ</p>
        <h2>ชาติชาย สุขโวหาร</h2>
        <p class="my-3">
          <i class="fa-solid fa-check text-success"></i>
          การให้บริการครบ 10 ครั้ง
        </p>
        <p class="my-3">
          <i class="fa-solid fa-xmark text-danger"></i> ได้รับการรีวิว 4 ครั้ง
        </p>
      </div>
    </div>
    <div class="date p-6 text-center text-white">
      <p>ลำดับที่ 1</p>
      <el-divider></el-divider>
      <p>วันที่ส่งคำขอ</p>
      <p>17/05/22</p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    bg: {
      type: String,
      default: "",
    },
  },
};
</script>