<template>
  <el-row :gutter="20">
    <el-col :span="24">
      <el-row :gutter="20">
        <el-col :span="24" :lg="6" class="mb-4">
          <el-card
            ><h4>ติดต่องาน</h4>
            <p class="text-right text-4xl">
              100 <span class="text-muted text-lg">ครั้ง</span>
            </p>
          </el-card>
        </el-col>
        <el-col :span="24" :lg="6" class="mb-4"
          ><el-card
            ><h4>จ่ายมัดจำ (รวม)</h4>
            <p class="text-right text-success text-4xl">
              100,000 <span class="text-muted text-lg">฿</span>
            </p></el-card
          ></el-col
        >

        <el-col :span="24" :lg="6" class="mb-4"
          ><el-card
            ><h4>ยกเลิกงาน</h4>
            <p class="text-right text-danger text-4xl">
              150 <span class="text-muted text-lg">ครั้ง</span>
            </p></el-card
          ></el-col
        >
        <el-col :span="24" :lg="6" class="mb-4"
          ><el-card
            ><h4>ขอคืนมัดจำ (รวม)</h4>
            <p class="text-right text-4xl">
              10 <span class="text-muted text-lg">ครั้ง</span>
            </p></el-card
          ></el-col
        >
      </el-row>
    </el-col>
  </el-row>
</template>
