<template>
  <el-card>
    <h2 class="my-4">การรีวิว</h2>
    <el-row :gutter="20" class="mb-4">
      <el-col :span="24" :lg="5">
        <div class="top-review">
          <p>จำนวนการรีวิว</p>
          <p class="number">150</p>
          <p>คน</p>
        </div>
      </el-col>
      <el-col :span="24" :lg="5">
        <el-rate :value="5" show-text :texts="[5, 10, 20, 50, 100]"></el-rate>
        <el-rate :value="4" show-text :texts="[5, 10, 20, 50, 100]"></el-rate>
        <el-rate :value="3" show-text :texts="[5, 10, 20, 50, 100]"></el-rate>
        <el-rate :value="2" show-text :texts="[5, 10, 20, 50, 100]"></el-rate>
        <el-rate :value="1" show-text :texts="[5, 10, 20, 50, 100]"></el-rate>
      </el-col>
      <el-col :span="24" :lg="14">
        <el-progress
          :stroke-width="20"
          class="mb-1"
          :percentage="100"
          :show-text="false"
        ></el-progress>
        <el-progress
          :stroke-width="20"
          class="mb-1"
          :percentage="70"
          :show-text="false"
        ></el-progress>
        <el-progress
          :stroke-width="20"
          class="mb-1"
          :percentage="50"
          :show-text="false"
        ></el-progress>
        <el-progress
          :stroke-width="20"
          class="mb-1"
          :percentage="20"
          :show-text="false"
        ></el-progress>
        <el-progress
          :stroke-width="20"
          :percentage="10"
          :show-text="false"
        ></el-progress>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col
        :span="12"
        :offset="0"
        class="mb-4"
        v-for="(data, index) in 4"
        :key="index"
      >
        <div class="box-review">
          <div class="flex justify-between">
            <div>
              <h4>ดูแลดีมากครับ</h4>
              <div class="my-2">
                <el-rate :value="4" :texts="[5, 10, 20, 50, 100]"></el-rate>
              </div>
            </div>
            <div>
              <p>31/02/2556</p>
              <p class="my-2">สมชาย</p>
            </div>
          </div>
          <div class="description">
            <p class="text-muted">พยาบาลเก่งมากครับ</p>
          </div>
          <el-divider></el-divider>
          <div class="grid grid-cols-3 gap-4">
            <div class="score-review">นิสัย 3</div>
            <div class="score-review">ความรับผิดชอบ 5</div>
            <div class="score-review">ความชำนาญ 4</div>
          </div>
        </div>
      </el-col>
    </el-row>
  </el-card>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>