<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="24" :offset="0" class="mb-4"
        ><el-breadcrumb separator-class="el-icon-arrow-right ">
          <el-breadcrumb-item :to="{ path: '/member/list' }"
            >รายการสมาชิก</el-breadcrumb-item
          >
          <el-breadcrumb-item :to="{ path: '/member/detail/1' }"
            >ธนันกรกานต์ สุขโวหาร
          </el-breadcrumb-item>
          <el-breadcrumb-item>บัตรสมาชิก</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
      <el-col :span="14" :offset="0">
        <div>
          <el-card>
            <h2 class="mb-4">ประวัติการทำรายการ</h2>
            <el-row :gutter="20">
              <el-col :span="12" :offset="0">
                <img
                  src="@/assets/card/full-member.png"
                  class="w-full"
                  alt=""
                />
              </el-col>
              <el-col :span="12" :offset="0">
                <h4>ข้อมูลบัตร</h4>
                <div class="flex justify-between my-3">
                  <p class="text-muted">วันหมดอายุ :</p>
                  <p>30/12/56</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">สถานะบัตร :</p>
                  <p class="text-danger">หมดอายุภายใน 3 วัน</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">หมายเลขบัตร :</p>
                  <p>0091 9145</p>
                </div>
              </el-col>
            </el-row>
          </el-card>
        </div>
        <div class="my-4 card-credit">
          <h2>เครดิตคงเหลือ</h2>
          <h2>100,000<span>฿</span></h2>
        </div>
        <div class="my-4">
          <el-row :gutter="20">
            <el-col :span="24" :lg="12">
              <el-button
                type="success"
                class="btn-wallet"
                @click="modalTopup = true"
              >
                <img
                  src="@/assets/icon/Botton/baht.png"
                  class="mx-auto mb-3"
                  alt=""
                />
                <P>เติมเงิน</P>
              </el-button>
            </el-col>

            <el-col :span="24" :lg="12">
              <el-button
                type="warning"
                class="btn-wallet"
                @click="modalMoney = true"
              >
                <img
                  src="@/assets/icon/Botton/dollar.png"
                  class="mx-auto mb-3"
                  alt=""
                />
                <P>แก้ไขยอดเงิน</P>
              </el-button>
            </el-col>
          </el-row>
        </div>
      </el-col>
      <el-col :span="10" :offset="0">
        <el-card>
          <h2>ประวัติการทำรายการ</h2>
          <el-row :gutter="20" class="my-4">
            <el-col :span="12" :offset="0">
              <el-select v-model="filter.month" placeholder="เดือน : ทั้งหมด">
                <el-option :label="'มกราคม'" :value="'มกราคม'"> </el-option>
              </el-select>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-select v-model="filter.status" placeholder="สถานะ : ทั้งหมด">
                <el-option :label="'สำเร็จ'" :value="'สำเร็จ'">
                </el-option> </el-select
            ></el-col>
          </el-row>
          <div v-for="(data, index) in history" :key="index" class="mb-6">
            <h4 class="my-4">{{ data.date }}</h4>
            <div
              class="card-box mb-4"
              v-for="(item, key) in data.list"
              :key="key"
            >
              <div>
                <p>{{ item.title }}</p>
                <p class="date">{{ item.time }}</p>
              </div>
              <div class="flex items-center">
                <div class="text-right">
                  <h4
                    :class="
                      item.status == 'expenses' ? 'text-danger' : 'text-success'
                    "
                  >
                    {{ item.amount }} <span class="text-muted">฿</span>
                  </h4>
                  <p class="date" v-if="item.fee">
                    ค่าธรรมเนียม <span class="text-dark">{{ item.fee }}</span> ฿
                  </p>
                </div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <ModalTopupVue :open="modalTopup" @close-modal="modalTopup = false" />
    <ModalMoneyVue :open="modalMoney" @close-modal="modalMoney = false" />
  </div>
</template>
<script>
import ModalTopupVue from "@/components/member/ModalTopup.vue";
import ModalMoneyVue from "@/components/member/ModalMoney.vue";
export default {
  components: {
    ModalTopupVue,
    ModalMoneyVue,
  },
  data() {
    return {
      modalTopup: false,
      modalMoney: false,
      filter: {
        month: "",
        status: "",
      },
      history: [
        {
          date: "30 ม.ค. 2556",
          list: [
            {
              title: "อัพเกรดบัตร Silver (1 เดือน)",
              time: "15:30",
              amount: "-1,500",
              status: "expenses",
              fee: "",
            },
            {
              title: "โอนเงินไปยัง กาญจนา พิเศษ",
              time: "14:30",
              amount: "-1,000",
              status: "expenses",
              fee: "100",
            },
            {
              title: "เติมเงิน",
              time: "12:00",
              amount: "1,000",
              status: "income",
              fee: "",
            },
          ],
        },
        {
          date: "29 ม.ค. 2556",
          list: [
            {
              title: "อัพเกรดบัตร Silver (1 เดือน)",
              time: "15:30",
              amount: "-1,500",
              status: "expenses",
              fee: "",
            },
            {
              title: "โอนเงินไปยัง กาญจนา พิเศษ",
              time: "14:30",
              amount: "-1,000",
              status: "expenses",
              fee: "100",
            },
            {
              title: "เติมเงิน",
              time: "12:00",
              amount: "1,000",
              status: "income",
              fee: "",
            },
          ],
        },
      ],
    };
  },
};
</script>