<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right ">
      <el-breadcrumb-item :to="{ path: '/nurse/list' }"
        >พยาบาล</el-breadcrumb-item
      >
      <el-breadcrumb-item>การอนุมัติใบรับรอง</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card class="my-4">
      <el-row :gutter="32" class="mb-8">
        <el-col :span="24" :lg="12"> <h2>การอนุมัติใบรับรอง</h2></el-col>
        <el-col :span="12" :lg="4">
          <el-select clearable filterable placeholder="เรียงลำดับ : เก่าไปใหม่">
          </el-select
        ></el-col>
        <el-col :span="12" :lg="4">
          <el-select clearable filterable placeholder="จังหวัด : ทั้งหมด">
          </el-select>
        </el-col>
        <el-col :span="12" :lg="4">
          <el-input placeholder="ค้นหา" clearable> </el-input>
        </el-col>
      </el-row>
      <el-row :gutter="32" class="mb-8">
        <el-col :span="24" :lg="8">
          <el-button type="warning" class="btn-wallet">
            <P class="text-lg">รอตรวจสอบ</P>
            <p class="text-4xl">100 <span class="text-base">คน</span></p>
          </el-button></el-col
        >
        <el-col :span="24" :lg="8">
          <el-button type="success" class="btn-wallet">
            <P class="text-lg">อนุมัติแล้ว</P>
            <p class="text-4xl">300 <span class="text-base">คน</span></p>
          </el-button>
        </el-col>
        <el-col :span="24" :lg="8"
          ><el-button type="info" class="btn-wallet">
            <P class="text-lg">รวม</P>
            <p class="text-4xl">400 <span class="text-base">คน</span></p>
          </el-button>
        </el-col>
      </el-row>
      <el-row :gutter="32" class="mb-8">
        <el-col
          :span="24"
          :lg="12"
          class="mb-8"
          v-for="(data, index) in 12"
          :key="index"
        >
          <CardNurseVue bg="inner" />
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
import CardNurseVue from "@/components/nurse/CardNurse.vue";
export default {
  components: {
    CardNurseVue,
  },
};
</script>