<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right ">
      <el-breadcrumb-item :to="{ path: '/nurse' }"
        >รายการพยาบาล
      </el-breadcrumb-item>
      <el-breadcrumb-item>กาญจนา พิเศษ</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="my-4">
      <el-row :gutter="20">
        <el-col :span="24" class="mb-4">
          <el-card class="h-full">
            <div class="flex justify-between">
              <div class="flex">
                <el-avatar
                  :size="80"
                  :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
                ></el-avatar>
                <div class="ml-5">
                  <h2>ธนันกรกานต์ สุขโวหาร</h2>
                  <div class="text-success" v-if="status">
                    <i class="fa-solid fa-circle"></i> ออนไลน์
                  </div>
                  <div v-else><i class="fa-solid fa-circle"></i> ออฟไลน์</div>
                </div>
              </div>
              <div>
                <el-button
                  type="info"
                  plain
                  @click="$router.push('/nurse/edit/1')"
                  >แก้ไขข้อมูล</el-button
                >
              </div>
            </div>
            <div>
              <el-row :gutter="24" type="flex">
                <el-col :span="24" :lg="12" class="border-r">
                  <h4 class="my-4">ข้อมูลทั่วไป</h4>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">ลงทะเบียน :</p>
                    <p class="text-right">30 มกราคม 2556</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">เพศ :</p>
                    <p class="text-right">หญิง</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">วันเกิด :</p>
                    <p class="text-right">12 มกราคม 2530</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-40 text-muted">หมายเลขบัตรประชาชน :</p>
                    <p class="text-right">0 0000 00000 00 0</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">เบอร์โทรศัพท์ :</p>
                    <p class="text-right">000 000 0000</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-40 text-muted">ที่อยู่ :</p>
                    <p class="text-right">
                      221/110 หมู่บ้านแฮปปี้แลนด์ แขวงดินแดง เขตดินแดง
                      กรุงเทพมหานคร 10120
                    </p>
                  </div>
                </el-col>
                <el-col :span="24" :lg="12">
                  <h4 class="my-4">ข้อมูลวิชาชีพ</h4>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">ตำแหน่งปัจจุบัน :</p>
                    <p class="text-right">พยาบาล</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-40 text-muted">โรงพยาบาล / คลีนิค :</p>
                    <p class="text-right">โรงพยาบาลเชียงใหม่</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">การศึกษา :</p>
                    <p class="text-right">ปริญญาตรีกการแพทย์</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-28 text-muted">เลขที่ใบประกาศ :</p>
                    <p class="text-right">00000000000</p>
                  </div>
                  <div class="flex justify-between my-3">
                    <p class="w-40 text-muted">ประสบการณ์ทำงาน :</p>
                    <p class="text-right">2 ปี</p>
                  </div>
                  <div>
                    <h4>ข้อมูลวิชาชีพ</h4>
                    <p>วัดความดัน, ดูแลทั่วไป, จัดโภชนาการอาหาร</p>
                  </div>
                </el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
        <el-col :span="24" :lg="12" class="mb-4">
          <el-card>
            <h2 class="mb-4">ใบรับรองและใบประกอบวิชาชีพ</h2>
            <el-row :gutter="20">
              <el-col :span="12" :offset="0" class="border-r">
                <img
                  src="@/assets/โครงการใหม่ (1) 2.png"
                  class="mx-auto"
                  alt=""
                />
                <div class="flex justify-between mt-5 mb-2">
                  <p class="w-40 text-muted">อัพโหลดเมื่อ :</p>
                  <p class="text-right">15/10/22</p>
                </div>
              </el-col>
              <el-col :span="12" :offset="0">
                <img
                  src="@/assets/โครงการใหม่ (1) 3.png"
                  class="mx-auto"
                  alt=""
                />
                <div class="flex justify-between mt-5 mb-2">
                  <p class="w-40 text-muted">อัพโหลดเมื่อ :</p>
                  <p class="text-right">15/10/22</p>
                </div>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
        <el-col :span="24" :lg="12" class="mb-4">
          <el-card>
            <div class="flex justify-between">
              <h2>การเงิน</h2>
              <el-button
                type="info"
                plain
                @click="$router.push('/nurse/card/1')"
              >
                ดูรายละเอียด
              </el-button>
            </div>
            <div>
              <div class="my-4">
                <div>
                  <div>
                    <img src="@/assets/card/member.png" class="w-full" alt="" />
                  </div>
                  <div class="botton-card">
                    <p>เครดิตคงเหลือ</p>
                    <p>100,000 <span>฿</span></p>
                  </div>
                </div>
              </div>
              <el-row :gutter="20">
                <el-col :span="24" :lg="12">
                  <el-button type="success" class="btn-wallet"   @click="modalTopup = true">
                    <img
                      src="@/assets/icon/Botton/baht.png"
                      class="mx-auto mb-3"
                      alt=""
                    />
                    <P>เติมเงิน</P>
                  </el-button>
                </el-col>
                <el-col :span="24" :lg="12">
                  <el-button type="warning" class="btn-wallet"  @click="modalMoney = true">
                    <img
                      src="@/assets/icon/Botton/dollar.png"
                      class="mx-auto mb-3"
                      alt=""
                    />
                    <P>แก้ไขยอดเงิน</P>
                  </el-button>
                </el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
      </el-row>
      <el-row :gutter="20" class="select_range my-4 text-center">
        <el-col :span="24" :lg="8">
          <el-card :class="{ activeTab: activeTab == 1 }">
            <div class="btn_dashboard" @click="activeTab = 1">
              <h2>ข้อมูลเชิงลึก</h2>
            </div>
          </el-card></el-col
        >
        <el-col :span="24" :lg="8">
          <el-card :class="{ activeTab: activeTab == 2 }">
            <div class="btn_dashboard" @click="activeTab = 2">
              <h2>งาน</h2>
            </div>
          </el-card></el-col
        >
        <el-col :span="24" :lg="8">
          <el-card :class="{ activeTab: activeTab == 3 }">
            <div class="btn_dashboard" @click="activeTab = 3">
              <h2>การรีวิว</h2>
            </div>
          </el-card></el-col
        >
      </el-row>
      <DataVue v-if="activeTab == 1" />
      <WorkVue v-if="activeTab == 2" />
      <ReviewVue v-if="activeTab == 3" />
    </div>
    <ModalTopupVue :open="modalTopup" @close-modal="modalTopup = false" />
    <ModalMoneyVue :open="modalMoney" @close-modal="modalMoney = false" />
  </div>
</template>
<script>
import WorkVue from "@/components/nurse/Work.vue";
import DataVue from "@/components/nurse/Data.vue";
import ReviewVue from "@/components/nurse/Review.vue";
import ModalTopupVue from "@/components/member/ModalTopup.vue";
import ModalMoneyVue from "@/components/member/ModalMoney.vue";
export default {
  components: {
    DataVue,
    WorkVue,
    ReviewVue,
    ModalTopupVue,
    ModalMoneyVue,
  },
  data() {
    return {
      modalTopup: false,
      modalMoney: false,
      status: 1,
      activeTab: 1,
    };
  },
};
</script>