<template>
  <div>
    <el-row :gutter="20" class="mb-4">
      <el-col :span="24" :lg="12">
        <h2>การอนุมัติใบรับรอง</h2>
      </el-col>
      <el-col :span="24" :lg="12" class="text-right">
        <h3><router-link to="/nurse/certificate">ดูทั้งหมด</router-link></h3>
      </el-col>
      <el-col :span="24">
        <div class="block">
          <el-carousel :autoplay="false" arrow="always">
            <el-carousel-item v-for="item in 4" :key="item">
              <el-row :gutter="20" class="mb-4">
                <el-col :span="12">
                  <CardNurseVue />
                </el-col>
                <el-col :span="12">
                  <CardNurseVue />
                </el-col>
              </el-row>
            </el-carousel-item>
          </el-carousel>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card>
          <h2>รายการพยาบาล</h2>
          <div class="my-4">
            <el-row :gutter="20">
              <el-col :span="4" :offset="8">
                <el-select clearable filterable placeholder="จังหวัด : ทั้งหมด">
                </el-select>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-select clearable filterable placeholder="ตำแหน่ง : ทั้งหมด">
                </el-select>
              </el-col>
              <el-col :span="4" :offset="0">
                <el-select clearable filterable placeholder="สถานะ : ทั้งหมด">
                </el-select
              ></el-col>
              <el-col :span="4" :offset="0">
                <el-input placeholder="ค้นหา" clearable> </el-input>
              </el-col>
            </el-row>
          </div>
          <div>
            <el-table
              :data="tableData"
              style="width: 100%"
              @row-click="(row) => gotoDetail(row)"
            >
              <el-table-column width="55px">
                <template>
                  <div class="block">
                    <el-avatar
                      :size="35"
                      :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
                    ></el-avatar>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="ชื่อ" prop="name">
                <template slot-scope="props">
                  {{ props.row.firstName }} {{ props.row.lastName }}
                </template>
              </el-table-column>
              <el-table-column label="เบอร์โทรศัพท์" prop="tel">
              </el-table-column>
              <el-table-column label="ตำแหน่ง" prop="position">
              </el-table-column>
              <el-table-column label="จังหวัด" prop="province">
              </el-table-column>
              <el-table-column label="จำนวนคนไข้" prop="history">
                <template slot-scope="props">
                  {{ props.row.history }} ครั้ง
                </template>
              </el-table-column>
              <el-table-column label="สถานะ" prop="status">
                <template slot-scope="props">
                  <div>
                    <div class="text-success" v-if="props.row.status">
                      <i class="fa-solid fa-circle"></i> ออนไลน์
                    </div>
                    <div v-else><i class="fa-solid fa-circle"></i> ออฟไลน์</div>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import CardNurseVue from "@/components/nurse/CardNurse.vue";
export default {
  components: {
    CardNurseVue,
  },
  data() {
    return {
      tableData: [
        {
          _id: 1,
          firstName: "กาญจนา",
          lastName: "พิเศษ",
          tel: "099 999 9999",
          position: "พยาบาล",
          province: "กรุงเทพมหานคร",
          history: 2,
          status: 1,
        },
        {
          _id: 2,
          firstName: "กาญจนา",
          lastName: "พิเศษ",
          tel: "099 999 9999",
          position: "พยาบาล",
          province: "กรุงเทพมหานคร",
          history: 2,
          status: 1,
        },
        {
          _id: 3,
          firstName: "กาญจนา",
          lastName: "พิเศษ",
          tel: "099 999 9999",
          position: "พยาบาล",
          province: "กรุงเทพมหานคร",
          history: 2,
          status: 1,
        },
        {
          _id: 4,
          firstName: "กาญจนา",
          lastName: "พิเศษ",
          tel: "099 999 9999",
          position: "พยาบาล",
          province: "กรุงเทพมหานคร",
          history: 2,
          status: 1,
        },
      ],
    };
  },
  methods: {
    gotoDetail(row) {
      console.log(row);
      this.$router.push("/nurse/detail/" + row._id);
    },
  },
};
</script>