@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./sideBard.scss");
body,
html {
  font-family: "Kanit", sans-serif;
  color: #222;
  font-size: 16px;
}

.el-card {
  color: #222;
}

.text-muted {
  color: #848484;
}

.text-primary {
  color: #1786ed;
}

.text-success {
  color: #61a88e;
}

.text-warning {
  color: #dcb211;
}

.text-danger {
  color: #ff0004;
}

.text-primary1 {
  color: #233043;
}

.el-button--success {
  background-color: #61a88e;
  border-color: #61a88e;
}

.el-button--primary {
  background-color: #1786ed;
  border-color: #1786ed;
}

.el-button--warning {
  background-color: #dcb211;
  border-color: #dcb211;
}

.el-button--danger {
  background-color: #ff0004;
  border-color: #ff0004;
}

.mx-dis-row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

h1 {
  font-weight: 500;
  font-size: 30px;
}

h2 {
  font-weight: 500;
  font-size: 25px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
}

.bg-login {
  background-image: url("../assets/Login-0.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.side-login {
  width: 560px;
  height: 100vh;
  background-color: #233043;
}

.btn_dashboard {
  padding: 2px;
}

.select_range {
  cursor: pointer;
  .el-card:hover,
  .el-card.activeTab {
    background-color: #233043;
    color: #fff;
  }
}

.el-button {
  border-radius: 10px;
}

.btn-wallet {
  width: 100%;
}

.btn-primary {
  background: #233043;
}

.botton-card {
  background-color: #233043;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
  padding: 16px 20px;
}

.card-credit {
  background-color: #233043;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-radius: 10px;
  padding: 25px 20px;
}

.map {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.card-box {
  background: #ffffff;
  border: 1px solid #dadada;
  box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  .date {
    color: #848484;
    font-size: 14px;
  }
}

.modal-card {
  border-radius: 10px;
  overflow: hidden;
  .el-dialog__header {
    padding: 0;
  }
  .el-dialog__body {
    padding: 0;
    color: #222;
  }
  .header-modal {
    padding: 30px;
    color: #fff;
    &.green {
      background-color: #61a88e;
    }
    &.primary {
      background-color: #1786ed;
    }
    &.warning {
      background-color: #dcb211;
    }
  }
  .body-modal {
    padding: 30px;
  }
}

.top-review {
  background: #233043;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  padding: 9px;
  .number {
    font-weight: 500;
    font-size: 50px;
  }
}

.el-progress-bar__inner {
  background-color: #233043;
}

.box-review {
  background: #f7f8fa;
  border-radius: 5px;
  padding: 20px;
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #848484;
    height: 70px;
    overflow: hidden;
  }
  .score-review {
    border: 1px solid #233043;
    border-radius: 10px;
    text-align: center;
    padding: 9px;
  }
}

.box-card {
  background: #f7f8fa;
  box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.1);
  border-radius: 5px;
  .card-right {
    background: #233043;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    padding: 19px;
  }
}

.topper {
  margin: -20px;
  background: #233043;
  color: #fff;
  padding: 30px;
}

.money-total {
  background: #61a88e;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  color: #fff;
  padding: 0.25rem 1.25rem;
}

.card-nurse {
  &.inner {
    background: #f7f8fa;
  }
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.1);
  border-radius: 5px;
  display: flex;
  .date {
    background: #233043;
    border-radius: 0px 10px 10px 0px;
  }
}

.el-breadcrumb__inner {
  .is-link {
    color: #222222;
  }
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #233043;
}

.el-table__header {
  background-color: #233043;
  border-radius: 10px;
}
.el-table tr {
  background-color: transparent;
}
.el-table th.el-table__cell {
  color: #fff;
  background-color: transparent;
}

.el-carousel__container {
  height: auto;
  min-height: 210px;
}

.graph-percent {
  height: 31px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  overflow: hidden;
}
