.nav-top {
  padding-top: 42px;
  padding-bottom: 20px;
}
.left-sidebar {
  padding: 0 20px;
  width: 270px;
  min-height: 100vh;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.05);
  position: relative;
}

.app-content {
  min-height: 100vh;
  width: 100%;
  padding: 0 30px;
  background-color: #f7f8fa;
}

.nav-left {
  li {
    border-radius: 10px;
    overflow: hidden;
    a {
      &.router-link-active,
      &:hover {
        color: #fff;
        background: #233043;
        box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.1);
      }
      border-bottom: 1px solid #dadada;

      display: block;
      padding: 12px 10px;
      font-weight: 500;
      font-size: 18px;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }
  }
}
