<template>
  <div class="app-container flex">
    <div class="left-sidebar">
      <div class="mt-8">
        <img src="@/assets/logo.png" class="mx-auto w-20" alt="" />
      </div>
      <div class="mt-8 nav-left">
        <ul>
          <li>
            <router-link to="/dashboard"
              ><i class="fa-solid fa-chart-column mr-3"></i>
              Dashboard</router-link
            >
          </li>
          <li>
            <router-link to="/member"
              ><i class="fa-solid fa-circle-user mr-3"></i> สมาชิก</router-link
            >
          </li>
          <li>
            <router-link to="/nurse"
              ><i class="fa-solid fa-briefcase-medical mr-3"></i>
              พยาบาล</router-link
            >
          </li>
          <li>
            <router-link to="/finance"
              ><i class="fa-solid fa-wallet mr-3"></i> การเงิน</router-link
            >
          </li>
          <li>
            <router-link to="/ads"
              ><i class="fa-solid fa-file-circle-exclamation mr-3"></i>
              โฆษณา</router-link
            >
          </li>
          <li>
            <router-link to="/report"
              ><i class="fa-solid fa-file-circle-exclamation mr-3"></i>
              รายงานปัญหา</router-link
            >
          </li>
          <li>
            <router-link to="/admin"
              ><i class="fa-solid fa-house mr-3"></i> Admin</router-link
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="app-content">
      <div class="nav-top">
        <el-row :gutter="20">
          <el-col :span="12" :offset="0">
            <h1 v-if="title">{{ title }}</h1>
          </el-col>
          <el-col :span="12" :offset="0" class="text-right">
            <el-button icon="el-icon-s-order" circle></el-button>
            <el-button icon="el-icon-bell" circle></el-button>
          </el-col>
        </el-row>
      </div>
      <div class="content pb-4">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      default: "",
      type: String,
    },
  },
};
</script>

<style>
</style>