<template>
  <DashboardTemplate title="Dashboard">
    <div>
      <el-card>
        <GraphVue />
      </el-card>
      <div class="flex text-center select_range mx-dis-row">
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">ทั้งหมด</div>
          </el-card>
        </div>
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">วันนี้</div>
          </el-card>
        </div>
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">สัปดาห์</div>
          </el-card>
        </div>
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">เดือน</div>
          </el-card>
        </div>
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">ปี</div>
          </el-card>
        </div>
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">ไตรมาส</div>
          </el-card>
        </div>
        <div class="grow m-3">
          <el-card>
            <div class="btn_dashboard">ระบุเอง</div>
          </el-card>
        </div>
      </div>
      <div>
        <el-row :gutter="20">
          <el-col :lg="8">
            <el-card class="mb-3">
              <h2>ยอดจอง</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
              <div class="flex justify-between my-4">
                <p>งานเสร็จสิ้น</p>
                <p class="">30 <span class="text-muted">งาน</span></p>
              </div>
              <div class="flex justify-between my-4">
                <p>ยกเลิกงาน</p>
                <p class="">30 <span class="text-muted">งาน</span></p>
              </div>
              <div class="flex justify-between my-4">
                <p>ระหว่างยื่นข้อเสนอ</p>
                <p class="">30 <span class="text-muted">งาน</span></p>
              </div>
              <div>
                <hr />
              </div>
              <div>
                <div class="flex justify-between my-4">
                  <h3>รวม</h3>
                  <h3 class="text-success">
                    150
                    <span class="text-muted text-base font-normal">งาน</span>
                  </h3>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :lg="8"
            ><el-card class="mb-3">
              <h2>ยอดมัดจำ</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
              <div class="grid grid-cols-3 my-4">
                <p>ยอดมัดจำ</p>
                <p class="text-right">15 คน</p>
                <p class="text-right">
                  100,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="grid grid-cols-3 my-4">
                <p>ขอคืนมัดจำ</p>
                <p class="text-right">10 คน</p>
                <p class="text-right">
                  100,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="grid grid-cols-2 my-4">
                <p>กำไร</p>

                <p class="text-right">
                  100,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div>
                <hr />
              </div>
              <div>
                <div class="grid grid-cols-3 my-4">
                  <h3>รวม</h3>
                  <h3 class="text-success text-right">
                    25
                    <span class="text-muted text-base font-normal">คน</span>
                  </h3>
                  <h3 class="text-success text-right">
                    30,000
                    <span class="text-muted text-base font-normal">฿</span>
                  </h3>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :lg="8">
            <el-card class="mb-3">
              <h2>บัตรสมาชิก</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
              <div class="grid grid-cols-3 my-4">
                <p>ทั่วไป</p>
                <p class="text-right">10,000 คน</p>
                <p class="text-right">
                  100,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="grid grid-cols-3 my-4">
                <p>Silver</p>
                <p class="text-right">10,000 คน</p>
                <p class="text-right">
                  100,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div class="grid grid-cols-3 my-4">
                <p>Gold</p>
                <p class="text-right">10,000 คน</p>
                <p class="text-right">
                  100,000 <span class="text-muted">฿</span>
                </p>
              </div>
              <div>
                <hr />
              </div>
              <div>
                <div class="grid grid-cols-3 my-4">
                  <h3>รวม</h3>
                  <h3 class="text-success text-right">
                    30,000
                    <span class="text-muted text-base font-normal">คน</span>
                  </h3>
                  <h3 class="text-success text-right">
                    30,000
                    <span class="text-muted text-base font-normal">฿</span>
                  </h3>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :lg="8">
            <el-card class="mb-3">
              <h2>พยาบาล</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
              <div class="flex justify-between my-4">
                <p>รอตรวจสอบ</p>
                <p class="">100 <span class="text-muted">คน</span></p>
              </div>
              <div class="flex justify-between my-4">
                <p>ผ่านการตรวจสอบ</p>
                <p class="">40 <span class="text-muted">คน</span></p>
              </div>
              <div class="flex justify-between my-4">
                <p>ยังไม่ผ่านการตรวจสอบ</p>
                <p class="">150 <span class="text-muted">คน</span></p>
              </div>
              <div>
                <hr />
              </div>
              <div>
                <div class="flex justify-between my-4">
                  <h3>รวม</h3>
                  <h3 class="text-success">
                    290
                    <span class="text-muted text-base font-normal">คน</span>
                  </h3>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :lg="8">
            <el-card class="mb-3">
              <h2>ประเภทคนไข้</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
              <div class="my-4">
                <PercenGraphVue
                  :percent="true"
                  :data="[25, 75]"
                  :color="['#233043', '#61A88E']"
                  :label="['ผู้ป่วยทั่วไป', 'ผู้ป่วยติดเตียง']"
                />
              </div>
              <div>
                <hr />
              </div>
              <div class="flex justify-between my-4">
                <p>ผู้ป่วยทั่วไป</p>
                <p class="">25,000 <span class="text-muted">คน</span></p>
              </div>
              <div class="flex justify-between my-4">
                <p>ผู้ป่วยติดเตียง</p>
                <p class="">100,000 <span class="text-muted">คน</span></p>
              </div>
              <div>
                <div class="flex justify-between my-4">
                  <h3>รวม</h3>
                  <h3 class="text-success">
                    125,000
                    <span class="text-muted text-base font-normal">คน</span>
                  </h3>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :lg="8">
            <el-card class="mb-3">
              <h2>อัตราค่าจ้างเฉลี่ย</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
              <BarXChartVue
                :label="['รายวัน', 'รายเดือน']"
                :color="['#233043', ' #61A88E']"
                height="190px"
                :data="[
                  {
                    name: '',
                    data: [1200, 8500],
                  },
                ]"
              />
            </el-card>
          </el-col>
          <el-col :lg="24">
            <el-card class="mb-3">
              <h2>จังหวัดและภาค</h2>
              <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </div>
  </DashboardTemplate>
</template>

<script>
import "@/mixin/dashboardTemplate";
import GraphVue from "@/components/dashboard/Graph.vue";
import PercenGraphVue from "@/components/dashboard/PercenGraph.vue";
import BarXChartVue from "@/echart/BarXChart.vue";
export default {
  components: {
    GraphVue,
    PercenGraphVue,
    BarXChartVue,
  },
};
</script>

<style>
</style>