<template>
  <DefaultTemplate>
    <div class="min-h-screen flex justify-end bg-login">
      <div class="side-login min-h-screen px-20 text-center flex items-center">
        <div class="w-full">
          <div class="text-center mb-16">
            <img src="@/assets/logo.png" class="mx-auto" alt="" />
          </div>
          <div>
            <h2 class="text-white my-8">เข้าสู่ระบบ</h2>
            <el-form :label-position="'top'" :model="formData" ref="formData">
              <el-form-item
                prop="userName"
                :rules="[
                  {
                    required: true,
                    message: 'กรุณากรอกชื่อผู้ใช้งาน',
                    trigger: 'blur',
                  },
                ]"
              >
                <el-input
                  v-model="formData.userName"
                  placeholder="บัญชีผู้ใช้งาน"
                ></el-input>
              </el-form-item>
              <el-form-item
                prop="password"
                :rules="[
                  {
                    required: true,
                    message: 'กรุณากรอกรหัสผ่าน',
                    trigger: 'blur',
                  },
                ]"
              >
                <el-input
                  v-model="formData.password"
                  placeholder="รหัสผ่าน"
                  type="password"
                  show-password
                ></el-input>
              </el-form-item>
              <el-form-item class="my-10">
                <el-button type="primary" size="medium" @click="signin()"
                  >เข้าสู่ระบบ</el-button
                >
              </el-form-item>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </DefaultTemplate>
</template>
<script>
import "@/mixin/defaultTemplate";
import apiAuth from "@/api/auth";
export default {
  data() {
    return {
      formData: {
        userName: "",
        password: "",
      },
    };
  },
  methods: {
    async signin() {
      try {
        this.$refs.formData.validate(async (valid) => {
          if (valid) {
            // let res = await apiAuth.loginAPI(this.formData, this.token);
            this.$router.push("/dashboard");
          } else {
          }
        });
      } catch (error) {
        console.log("signin error: ", error);
      }
    },
  },
};
</script>