<template>
  <DashboardTemplate title="รายงานปัญหา">
    <div><router-view /></div>
  </DashboardTemplate>
</template>

<script>
import "@/mixin/dashboardTemplate";
export default {};
</script>

<style>
</style>