<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="24" :md="10">
        <h2>Dashboard</h2>
      </el-col>
      <el-col :span="24" :md="14">
        <el-row :gutter="20" type="flex">
          <el-col :span="6" :offset="0" class="flex items-center">
            <div class="mr-4">
              <i class="fa-solid fa-circle text-primary1 mr-2"></i> คนไข้
            </div>
            <i class="fa-solid fa-circle text-success mr-2"></i> พยาบาล
          </el-col>
          <el-col :span="9" :offset="0">
            <el-select
              clearable
              filterable
              v-model="filter.month"
              placeholder="กราฟ : รายเดือน"
            >
              <el-option>มกราคม</el-option>
            </el-select>
          </el-col>
          <el-col :span="9" :offset="0">
            <el-select
              clearable
              filterable
              v-model="filter.year"
              placeholder="ปี : ทั้งหมด"
            >
              <el-option>2022</el-option>
            </el-select>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24">
        <barChart
          :label="this.month"
          :color="['#233043', ' #61A88E']"
          height="270px"
          :data="[
            {
              name: 'คนไข้',
              data: [30, 20, 100, 20, 50, 55, 70, 160, 120, 30, 40, 50],
            },
            {
              name: 'พยาบาล',
              data: [40, 10, 150, 30, 20, 50, 120, 144, 123, 80, 11, 20],
            },
          ]"
        />
      </el-col>
    </el-row>
  </div>
</template>
<script>
import barChart from "@/echart/BarChart";
export default {
  components: {
    barChart,
  },
  data() {
    return {
      month: [
        "ม.ค.",
        "ก.พ.",
        "มี.ค.",
        "เม.ย.",
        "พ.ค.",
        "มิ.ย.",
        "ก.ค.",
        "ส.ค.",
        "ก.ย.",
        "ต.ค.",
        "พ.ย.",
        "ธ.ค.",
      ],
      filter: {
        month: "",
        year: "",
      },
    };
  },
};
</script>