<template>
  <div>
    <div class="graph-percent">
      <div
        class="py-1 px-3"
        :style="'width:' + data[0] + '%;background-color:' + color[0]"
      >
        <p>{{ data[0] }}%</p>
      </div>
      <div
        class="py-1 px-3 text-right"
        :style="'width:' + data[1] + '%;background-color:' + color[1]"
      >
        <p>{{ data[1] }}%</p>
      </div>
    </div>
    <div></div>
  </div>
</template>
<script>
export default {
  props: {
    percent: {
      type: Boolean,
      default: false,
    },
    data: {
      default: [],
      type: Array,
    },
    color: {
      default: [],
      type: Array,
    },
    label: {
      default: [],
      type: Array,
    },
  },
};
</script>