<template>
  <el-row :gutter="20">
    <el-col :span="24" :lg="12">
      <el-row :gutter="20">
        <el-col :span="24" :lg="12" class="mb-4">
          <el-card
            ><h4>ติดต่องาน</h4>
            <p class="text-right text-4xl">
              100 <span class="text-muted text-lg">ครั้ง</span>
            </p>
          </el-card>
        </el-col>
        <el-col :span="24" :lg="12" class="mb-4"
          ><el-card
            ><h4>จ่ายมัดจำ (รวม)</h4>
            <p class="text-right text-success text-4xl">
              100,000 <span class="text-muted text-lg">฿</span>
            </p></el-card
          ></el-col
        >

        <el-col :span="24" :lg="12" class="mb-4"
          ><el-card
            ><h4>ยกเลิกงาน</h4>
            <p class="text-right text-success text-4xl">
              150 <span class="text-muted text-lg">ครั้ง</span>
            </p></el-card
          ></el-col
        >
        <el-col :span="24" :lg="12" class="mb-4"
          ><el-card
            ><h4>ขอคืนมัดจำ (รวม)</h4>
            <p class="text-right text-success text-4xl">
              10 <span class="text-muted text-lg">ครั้ง</span>
            </p></el-card
          ></el-col
        >
      </el-row>
    </el-col>
    <el-col :span="24" :lg="12">
      <el-card>
        <div class="flex justify-between">
          <div>
            <h2>การใช้งานบัตรสมาชิก</h2>
            <p class="text-muted mb-4">01 ม.ค. 2556 - 03 มิ.ย. 2556</p>
          </div>
          <div>
            <el-button type="info" plain>อัพเกรดบัตร</el-button>
          </div>
        </div>
        <div>
          <BarXChartVue
            :label="['ทั่วไป', 'Silver', 'Gold']"
            :color="['#233043']"
            height="190px"
            :data="[
              {
                name: 'จำนวน',
                data: [1, 2, 3],
              },
            ]"
          />
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>
<script>
import BarXChartVue from "@/echart/BarXChart.vue";
export default {
  components: {
    BarXChartVue,
  },
};
</script>