<template>
  <div>
    <el-dialog
      :visible.sync="open"
      custom-class="modal-card"
      :show-close="false"
      @closed="$emit('close-modal')"
    >
      <div class="header-modal primary">
        <h2 class="flex items-center">
          <img src="@/assets/icon/Botton/wallet.png" alt="" class="mr-4" />
          ต่ออายุบัตร / อัพเกรดบัตร
        </h2>
      </div>
      <div class="body-modal">
        <div class="flex items-center mb-4">
          <el-avatar
            :size="80"
            :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
          ></el-avatar>
          <div class="ml-5">
            <p class="text-muted">เติมเครดิตไปยัง</p>
            <h2>ธนันกรกานต์ สุขโวหาร</h2>
          </div>
        </div>
        <div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="ต่ออายุบัตร " name="expire"></el-tab-pane>
            <el-tab-pane label="อัปเกรดบัตร" name="upgrade"></el-tab-pane>
          </el-tabs>
          <div>
            <div class="flex justify-between my-3">
              <p class="text-muted">บัตรสมาชิกปัจจุบัน :</p>
              <p>Silver Card</p>
            </div>
            <div class="flex justify-between my-3">
              <p class="text-muted">บัตรหมดอายุ :</p>
              <p>30/12/56</p>
            </div>
            <div class="flex justify-between my-3">
              <p class="text-muted">สถานะ :</p>
              <p class="text-danger">จะหมดอายุภายใน 3 วัน</p>
            </div>
          </div>
          <div v-if="activeName == 'upgrade'">
            <div>
              <el-divider></el-divider>
            </div>
            <div>
              <p class="mb-4">อัพเกรดเป็น</p>
              <el-select v-model="cardLevel" placeholder="Select">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
        <el-divider></el-divider>
        <el-row :gutter="20">
          <el-col :span="12" :offset="0">
            <el-button class="w-full" @click="$emit('close-modal')"
              >ยกเลิก</el-button
            >
          </el-col>
          <el-col :span="12" :offset="0">
            <el-button type="primary" class="btn-primary w-full">
              ต่ออายุ
            </el-button>
          </el-col>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  computed: {
    options() {
      return this.$store.state.cardLevel;
    },
  },
  data() {
    return {
      activeName: "expire",
      cardLevel: "",
    };
  },
  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },
};
</script>