<template>
  <div>
    <el-dialog
      :visible.sync="open"
      custom-class="modal-card"
      :show-close="false"
      @closed="$emit('close-modal')"
    >
      <div class="header-modal warning">
        <h2 class="flex items-center">
          <img src="@/assets/icon/Botton/dollar.png" alt="" class="mr-4" />
          แก้ไขยอดเงิน
        </h2>
      </div>
      <div class="body-modal">
        <div class="flex items-center mb-4">
          <el-avatar
            :size="80"
            :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
          ></el-avatar>
          <div class="ml-5">
            <p class="text-muted">เติมเครดิตไปยัง</p>
            <h2>ธนันกรกานต์ สุขโวหาร</h2>
          </div>
        </div>
        <div>
          <div class="my-4 card-credit">
            <p>เครดิตคงเหลือ</p>
            <p>100,000<span>฿</span></p>
          </div>
        </div>
        <div class="my-4">
          <h4 class="mb-3">อัพเกรดเป็น</h4>
          <el-input v-model="form.amount">
            <p slot="suffix" class="mt-2">฿</p>
          </el-input>
        </div>
        <div>
          <h4 class="mb-3">สรุป</h4>
          <div class="flex justify-between my-3">
            <p class="text-muted">เครดิตเดิม :</p>
            <h4 class="">100,000 <span class="text-muted">฿</span></h4>
          </div>
          <div class="flex justify-between my-3">
            <p class="text-muted">แก้ไขเป็น :</p>
            <p class="text-muted">
              <spn class="text-success"></spn>{{ form.amount }} ฿
            </p>
          </div>
        </div>
        <el-divider></el-divider>
        <div class="text-center text-danger mb-5">
          <p>*กรุณาตรวจสอบจำนวนเงินทุกครั้ง ก่อนทำการยืนยัน</p>
        </div>
        <el-row :gutter="20">
          <el-col :span="12" :offset="0">
            <el-button class="w-full" @click="$emit('close-modal')"
              >ยกเลิก</el-button
            >
          </el-col>
          <el-col :span="12" :offset="0">
            <el-button type="primary" class="btn-primary w-full"
              >ยืนยัน</el-button
            >
          </el-col>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        amount: "",
      },
    };
  },
  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },
};
</script>