<template>
  <div>
    <el-dialog
      :visible.sync="open"
      custom-class="modal-card"
      :show-close="false"
      @closed="$emit('close-modal')"
    >
      <div class="header-modal green">
        <h2 class="flex items-center">
          <img src="@/assets/icon/Botton/baht.png" alt="" class="mr-4" />
          เติมเงิน
        </h2>
      </div>
      <div class="body-modal">
        <div class="flex items-center mb-4">
          <el-avatar
            :size="80"
            :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
          ></el-avatar>
          <div class="ml-5">
            <p class="text-muted">เติมเครดิตไปยัง</p>
            <h2>ธนันกรกานต์ สุขโวหาร</h2>
          </div>
        </div>
        <el-form
          ref="form"
          :model="form"
          label-width="120px"
          label-position="top"
        >
          <el-form-item label="ระบุจำนวนเครดิต">
            <el-input v-model="form.amount"></el-input>
            <span class="text-muted">เติมขั้นต่ำ 100 ฿</span>
          </el-form-item>
          <el-radio-group v-model="form.amount">
            <el-radio-button label="100">100 ฿</el-radio-button>
            <el-radio-button label="300">300 ฿</el-radio-button>
            <el-radio-button label="500">500 ฿</el-radio-button>
            <el-radio-button label="1,000">1,000 ฿</el-radio-button>
            <el-radio-button label="1,500">1,500 ฿</el-radio-button>
            <el-radio-button label="5,000">5,000 ฿</el-radio-button>
          </el-radio-group>
        </el-form>
        <el-divider></el-divider>
        <el-row :gutter="20">
          <el-col :span="12" :offset="0">
            <el-button class="w-full" @click="$emit('close-modal')"
              >ยกเลิก</el-button
            >
          </el-col>
          <el-col :span="12" :offset="0">
            <el-button type="primary" class="btn-primary w-full"
              >เติมเงิน</el-button
            >
          </el-col>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        amount: "",
      },
    };
  },
  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },
};
</script>