<template>
  <div>
    <div v-for="(item, index) in data" :key="index" class="mb-4">
      <el-card>
        <div class="flex justify-between">
          <div class="flex items-center">
            <el-avatar
              :size="80"
              :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
            ></el-avatar>
            <h2 class="ml-4">สมชาย อุดมศรี</h2>
          </div>
          <div class="flex items-center">
            <el-button
              type="info"
              plain
              @click="$router.push('/member/patient/1')"
            >
              แก้ไขข้อมูล
            </el-button>
          </div>
        </div>
        <div>
          <el-row :gutter="24" type="flex">
            <el-col :span="24" :lg="8" class="border-r">
              <h4 class="my-4">ข้อมูลทั่วไป</h4>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">วันที่เพิ่มข้อมูล :</p>
                <p class="text-right">30 มกราคม 2556</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">วันเกิด :</p>
                <p class="text-right">ไม่ทราบ</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-40 text-muted">หมายเลขบัตรประชาชน :</p>
                <p class="text-right">0 0000 00000 00 0</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">เบอร์โทรศัพท์ :</p>
                <p class="text-right">000 000 0000</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ที่อยู่ :</p>
                <p class="text-right">
                  221/110 หมู่บ้านแฮปปี้แลนด์ แขวงดินแดง เขตดินแดง กรุงเทพมหานคร
                  10120
                </p>
              </div>
            </el-col>
            <el-col :span="24" :lg="8" class="border-r">
              <h4 class="my-4">ข้อมูลทางการแพทย์</h4>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">เพศ :</p>
                <p class="text-right">ชาย</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">อายุ :</p>
                <p class="text-right">ไม่ทราบ</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ส่วนสูง :</p>
                <p class="text-right">160</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">น้ำหนัก :</p>
                <p class="text-right">80</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">กรุ๊ปเลือด :</p>
                <p class="text-right">B</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">โรคประจำตัว :</p>
                <p class="text-right">ความดัน, เบาหวาน, ภูมิแพ้</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ประวัติการแพ้ยา :</p>
                <p class="text-right">ไม่มี</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">ประวัติการผ่าตัด :</p>
                <p class="text-right">ผ่าตัดแขนหัก</p>
              </div>
              <div class="flex justify-between my-3">
                <p class="w-28 text-muted">อุบัติเหตุรุนแรง :</p>
                <p class="text-right">รถชนกระดูกแขนหัก</p>
              </div>
            </el-col>
            <el-col :span="24" :lg="8">
              <div class="my-4">
                <h4>ความต้องการ</h4>
                <p>พยาบาล</p>
              </div>
              <div class="my-4">
                <h4>ทักษะความต้องการ</h4>
                <p>วัดความดัน, ดูแลทั่วไป, จัดโภชนาการอาหาร</p>
              </div>
              <div>
                <h4>รายละเอียด</h4>
                <p>ดูแลเด็กเล็กตรวจวัดความดัน</p>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    data: {
      default: [],
      type: Array,
    },
  },
};
</script>