<template>
  <div>
    <div class="mb-4">
      <el-card>
        <h2>กำลังดำเนินการ</h2>
        <div class="my-4">
          <el-row :gutter="20">
            <el-col :span="4" :offset="8">
              <el-select clearable filterable placeholder="ประเภทงาน : ทั้งหมด">
              </el-select>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-select
                clearable
                filterable
                placeholder="บัตรสมาชิก : ทั้งหมด"
              >
              </el-select>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-select clearable filterable placeholder="สถานะ : ทั้งหมด">
              </el-select
            ></el-col>
            <el-col :span="4" :offset="0">
              <el-input placeholder="ค้นหา" clearable> </el-input>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="mt-4">
            <el-col :span="24">
              <el-table :data="processData" stripe style="width: 100%">
                <el-table-column width="55px">
                  <template slot-scope="props">
                    <div
                      class="block"
                      @click="$router.push('/member/detail/1')"
                    >
                      <el-avatar
                        :size="35"
                        :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
                      ></el-avatar>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column prop="name" label="คนไข้"> </el-table-column>
                <el-table-column prop="dateRange" label="ระยะเวลา">
                </el-table-column>
                <el-table-column prop="startDate" label="เริ่มต้น">
                </el-table-column>
                <el-table-column prop="endDate" label="สิ้นสุด">
                </el-table-column>
                <el-table-column prop="workType" label="ประเภทงาน">
                </el-table-column>
                <el-table-column prop="status" label="สถานะ">
                  <template slot-scope="props">
                    <div>
                      <span v-if="props.row.status == 1" class="text-success"
                        >เสร็จสิ้น</span
                      >
                      <span v-if="props.row.status == 2" class="text-dark"
                        >โอนมัดจำแล้ว</span
                      >
                      <span v-if="props.row.status == 3" class="text-sky-500"
                        >ระหว่างดำเนินการ</span
                      >
                      <span v-if="props.row.status == 4" class="text-rose-600"
                        >ยกเลิกงาน</span
                      >
                    </div>
                  </template>
                </el-table-column>
                <el-table-column prop="nurse" label="พยาบาล"> </el-table-column>
                <el-table-column width="30px">
                  <template> <i class="el-icon-edit"></i> </template
                ></el-table-column>
              </el-table>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </div>
    <div>
      <el-card>
        <h2>ประวัติรายการ</h2>
        <div class="my-4">
          <el-row :gutter="20">
            <el-col :span="4" :offset="8">
              <el-select clearable filterable placeholder="ประเภทงาน : ทั้งหมด">
              </el-select>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-select
                clearable
                filterable
                placeholder="บัตรสมาชิก : ทั้งหมด"
              >
              </el-select>
            </el-col>
            <el-col :span="4" :offset="0">
              <el-select clearable filterable placeholder="สถานะ : ทั้งหมด">
              </el-select
            ></el-col>
            <el-col :span="4" :offset="0">
              <el-input placeholder="ค้นหา" clearable> </el-input>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="mt-4">
            <el-col :span="24">
              <el-table :data="historyData" stripe style="width: 100%">
                <el-table-column width="55px">
                  <template slot-scope="props">
                    <div
                      class="block"
                      @click="$router.push('/member/detail/1')"
                    >
                      <el-avatar :size="35" :src="squareUrl"></el-avatar>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column prop="name" label="คนไข้"> </el-table-column>
                <el-table-column prop="dateRange" label="ระยะเวลา">
                </el-table-column>
                <el-table-column prop="startDate" label="เริ่มต้น">
                </el-table-column>
                <el-table-column prop="endDate" label="สิ้นสุด">
                </el-table-column>
                <el-table-column prop="workType" label="ประเภทงาน">
                </el-table-column>
                <el-table-column prop="status" label="สถานะ">
                  <template slot-scope="props">
                    <div>
                      <span v-if="props.row.status == 1" class="text-success"
                        >เสร็จสิ้น</span
                      >
                      <span v-if="props.row.status == 2" class="text-dark"
                        >โอนมัดจำแล้ว</span
                      >
                      <span v-if="props.row.status == 3" class="text-sky-500"
                        >ระหว่างดำเนินการ</span
                      >
                      <span v-if="props.row.status == 4" class="text-rose-600"
                        >ยกเลิกงาน</span
                      >
                    </div>
                  </template>
                </el-table-column>
                <el-table-column prop="nurse" label="พยาบาล"> </el-table-column>
              </el-table>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      processData: [
        {
          name: "Michele Larson",
          dateRange: 20,
          startDate: "01/08/56",
          endDate: "30/08/56",
          workType: "Full-Time",
          status: 2,
          nurse: "กาญจนา พิเศษ",
        },
        {
          name: "Leticia Carter MD",
          dateRange: 5,
          startDate: "01/08/56",
          endDate: "30/08/56",
          workType: "Part-Time",
          status: 2,
          nurse: "กาญจนา พิเศษ",
        },
        {
          name: "Moses Ebert MD",
          dateRange: 20,
          startDate: "01/08/56",
          endDate: "30/08/56",
          workType: "Full-Time",
          status: 3,
          nurse: "กาญจนา พิเศษ",
        },
      ],
      historyData: [
        {
          name: "Michele Larson",
          dateRange: 20,
          startDate: "01/08/56",
          endDate: "30/08/56",
          workType: "Full-Time",
          status: 1,
          nurse: "กาญจนา พิเศษ",
        },
        {
          name: "Leticia Carter MD",
          dateRange: 5,
          startDate: "01/08/56",
          endDate: "30/08/56",
          workType: "Part-Time",
          status: 1,
          nurse: "กาญจนา พิเศษ",
        },
        {
          name: "Moses Ebert MD",
          dateRange: 20,
          startDate: "01/08/56",
          endDate: "30/08/56",
          workType: "Full-Time",
          status: 4,
          nurse: "กาญจนา พิเศษ",
        },
      ],
    };
  },
};
</script>