<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right ">
      <el-breadcrumb-item :to="{ path: '/member/list' }"
        >รายการสมาชิก</el-breadcrumb-item
      >
      <el-breadcrumb-item :to="{ path: '/member/detail/1' }"
        >ธนันกรกานต์ สุขโวหาร
      </el-breadcrumb-item>
      <el-breadcrumb-item>แก้ไขข้อมูล</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="my-4">
      <el-card>
        <h2 class="my-4">แก้ไขข้อมูล</h2>
        <el-form ref="form" :model="form" label-position="top">
          <el-row :gutter="20">
            <el-col :span="24" :offset="0">
              <h4>ข้อมูลทั่วไป</h4>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item label="ชื่อ - นามสกุล (ภาษาไทย)">
                <el-input v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item>
                <el-input v-model="form.lastname"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-form-item label="หมายเลขบัตรประชาชน">
                <el-input v-model="form.cardId"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item label="เพศ">
                <el-radio-group v-model="form.sex">
                  <el-radio-button label="ชาย"></el-radio-button>
                  <el-radio-button label="หญิง"></el-radio-button>
                  <el-radio-button label="ไม่ระบุ"></el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-form-item label="เบอร์โทรศัพท์">
                <el-input v-model="form.tel"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item label="วันเกิด" class="mb-0">
                <el-date-picker v-model="form.birdthDay" type="date">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="24" :offset="0">
              <el-divider></el-divider>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="24" :offset="0">
              <div class="map mb-5">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248057.18773170395!2d100.49302641228302!3d13.72489362049206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d6032280d61f3%3A0x10100b25de24820!2z4LiB4Lij4Li44LiH4LmA4LiX4Lie4Lih4Lir4Liy4LiZ4LiE4Lij!5e0!3m2!1sth!2sth!4v1661682200310!5m2!1sth!2sth"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <el-form-item
                label="ที่อยู่ 1 (บ้านเลขที่ / อาคาร หรือ หมู่บ้าน / ชั้น)"
              >
                <el-input v-model="form.address"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12" :offset="0">
              <el-form-item label="ที่อยู่ 2 (ซอย/ถนน)">
                <el-input v-model="form.address2"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="6" :offset="0">
              <el-form-item label="รหัสไปรษณีย์">
                <el-input v-model="form.zipcode"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="แขวง / ตำบล">
                <el-input v-model="form.subdistric"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="เขต / อำเภอ">
                <el-input v-model="form.distric"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-form-item label="จังหวัด">
                <el-input v-model="form.province"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12" :offset="0">
              <div class="w-1/2">
                <el-button type="danger" class="w-full"
                  >ลบบัญชีผู้ใช้งาน</el-button
                >
              </div>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-button class="w-full">ยกเลิก</el-button>
            </el-col>
            <el-col :span="6" :offset="0">
              <el-button type="danger" class="btn-primary w-full"
                >บันทึก</el-button
              >
            </el-col>
          </el-row>
        </el-form>
      </el-card>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        name: "",
        lastname: "",
        cardId: "",
        sex: "",
        tel: "",
        birdthDay: "",
        address: "",
        address2: "",
        zipcode: "",
        subdistric: "",
        distric: "",
        province: "",
      },
    };
  },
};
</script>
