<template>
  <div>
    <div>
      <el-breadcrumb separator-class="el-icon-arrow-right ">
        <el-breadcrumb-item :to="{ path: '/member/list' }"
          >รายการสมาชิก</el-breadcrumb-item
        >
        <el-breadcrumb-item>ธนันกรกานต์ สุขโวหาร </el-breadcrumb-item>
      </el-breadcrumb>
      <div class="my-6">
        <el-row :gutter="20" type="flex">
          <el-col :span="24" :lg="12">
            <el-card class="h-full">
              <div class="flex justify-between">
                <div class="flex">
                  <el-avatar
                    :size="80"
                    :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
                  ></el-avatar>
                  <div class="ml-5">
                    <h2>ธนันกรกานต์ สุขโวหาร</h2>
                    <div class="text-success" v-if="status">
                      <i class="fa-solid fa-circle"></i> ออนไลน์
                    </div>
                    <div v-else><i class="fa-solid fa-circle"></i> ออฟไลน์</div>
                  </div>
                
                </div>
                <div>
                  <el-button
                    type="info"
                    plain
                    @click="$router.push('/member/edit/1')"
                    >แก้ไขข้อมูล</el-button
                  >
                </div>
              </div>
              <div class="mt-4">
                <h4>ข้อมูลทั่วไป</h4>
                <div class="flex justify-between my-3">
                  <p class="text-muted">ลงทะเบียน :</p>
                  <p>30 มกราคม 2556</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">เพศ :</p>
                  <p>ชาย</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">วันเกิด :</p>
                  <p>12 มกราคม 2530</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">หมายเลขบัตรประชาชน :</p>
                  <p>0 0000 00000 00 0</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">เบอร์โทรศัพท์ :</p>
                  <p>000 000 0000</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="text-muted">ที่อยู่ :</p>
                  <p>
                    221/110 หมู่บ้านแฮปปี้แลนด์ แขวงดินแดงเขตดินแดง
                    กรุงเทพมหานคร 10120
                  </p>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :span="24" :lg="12">
            <el-card>
              <div class="flex justify-between">
                <h2>บัตรสมาชิก</h2>
                <el-button
                  type="info"
                  plain
                  @click="$router.push('/member/card/1')"
                >
                  ดูรายละเอียด
                </el-button>
              </div>
              <div class="my-4">
                <div>
                  <div>
                    <img src="@/assets/card/silver.png" class="w-full" alt="" />
                  </div>
                  <div class="botton-card">
                    <p>เครดิตคงเหลือ</p>
                    <p>100,000 <span>฿</span></p>
                  </div>
                </div>
              </div>
              <el-row :gutter="20">
                <el-col :span="24" :lg="8">
                  <el-button type="success" class="btn-wallet" @click="modalTopup = true">
                    <img
                      src="@/assets/icon/Botton/baht.png"
                      class="mx-auto mb-3"
                      alt=""
                    />
                    <P>เติมเงิน</P>
                  </el-button>
                </el-col>
                <el-col :span="24" :lg="8">
                  <el-button type="primary" class="btn-wallet"  @click="modalExpire = true">
                    <img
                      src="@/assets/icon/Botton/wallet.png"
                      class="mx-auto mb-3"
                      alt=""
                    />
                    <P>ต่ออายุ / อัพเกรด</P>
                  </el-button>
                </el-col>
                <el-col :span="24" :lg="8">
                  <el-button type="warning" class="btn-wallet"  @click="modalMoney = true">
                    <img
                      src="@/assets/icon/Botton/dollar.png"
                      class="mx-auto mb-3"
                      alt=""
                    />
                    <P>แก้ไขยอดเงิน</P>
                  </el-button>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
        <el-row :gutter="20" class="select_range my-4 text-center">
          <el-col :span="24" :lg="8">
            <el-card :class="{ activeTab: activeTab == 1 }">
              <div class="btn_dashboard" @click="activeTab = 1">
                <h2>ข้อมูลเชิงลึก</h2>
              </div>
            </el-card></el-col
          >
          <el-col :span="24" :lg="8">
            <el-card :class="{ activeTab: activeTab == 2 }">
              <div class="btn_dashboard" @click="activeTab = 2">
                <h2>งาน</h2>
              </div>
            </el-card></el-col
          >
          <el-col :span="24" :lg="8">
            <el-card :class="{ activeTab: activeTab == 3 }">
              <div class="btn_dashboard" @click="activeTab = 3">
                <h2>คนไข้</h2>
              </div>
            </el-card></el-col
          >
        </el-row>
        <DataGeneral v-if="activeTab == 1" />
        <Work v-if="activeTab == 2" />
        <Patient v-if="activeTab == 3" :data="[{}, {}]" />
      </div>
    </div>
     <ModalTopupVue :open="modalTopup" @close-modal="modalTopup = false" />
    <ModalExpireVue :open="modalExpire" @close-modal="modalExpire = false" />
    <ModalMoneyVue :open="modalMoney" @close-modal="modalMoney = false" />
  </div>
</template>
<script>
import DataGeneral from "@/components/member/Data";
import Work from "@/components/member/Work";
import Patient from "@/components/member/Patient";
import ModalTopupVue from "@/components/member/ModalTopup.vue";
import ModalExpireVue from "@/components/member/ModalExpire.vue";
import ModalMoneyVue from "@/components/member/ModalMoney.vue";
export default {
  components: {
    DataGeneral,
    Work,
    Patient,
     ModalTopupVue,
    ModalExpireVue,
    ModalMoneyVue,
  },
  data() {
    return {
      activeTab: 1,
      status: 1,
      modalTopup: false,
      modalExpire: false,
      modalMoney: false,
    };
  },
};
</script>