<template>
  <div>
    <el-card>
      <div class="text item"><h2>รายการสมาชิก</h2></div>
      <div class="my-5">
        <el-row :gutter="20">
          <el-col :span="5" :offset="4">
            <el-select
              clearable
              filterable
              v-model="filter.province"
              placeholder="จังหวัด : ทั้งหมด"
            >
              <el-option
                v-for="(data, index) in provinceOption.RECORDS"
                :key="index"
                :label="data.name_th"
                :value="data.id"
              >
              </el-option>
            </el-select>
          </el-col>
          <el-col :span="5" :offset="0">
            <el-select
              clearable
              filterable
              v-model="filter.province"
              placeholder="บัตรสมาชิก : ทั้งหมด"
            >
              <el-option
                v-for="(data, index) in memberLevel"
                :key="index"
                :label="data.level"
                :value="data.id"
              >
              </el-option>
            </el-select>
          </el-col>
          <el-col :span="5" :offset="0">
            <el-select
              clearable
              filterable
              v-model="filter.province"
              placeholder="บัตรสมาชิก : ทั้งหมด"
            >
              <el-option
                v-for="(data, index) in memberLevel"
                :key="index"
                :label="data.level"
                :value="data.id"
              >
              </el-option> </el-select
          ></el-col>
          <el-col :span="5" :offset="0">
            <el-input placeholder="ค้นหา" v-model="filter.search" clearable>
            </el-input>
          </el-col>
        </el-row>
      </div>
      <div>
        <el-table :data="tableData" style="width: 100%">
          <el-table-column width="55px">
            <template slot-scope="props">
              <div class="block" @click="$router.push('/member/detail/1')">
                <el-avatar
                  :size="35"
                  :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
                ></el-avatar>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="ชื่อ" prop="name"> </el-table-column>
          <el-table-column label="เบอร์โทรศัพท์" prop="tel"> </el-table-column>
          <el-table-column label="บัตรสมาชิก" prop="level"> </el-table-column>
          <el-table-column label="จังหวัด" prop="province"> </el-table-column>
          <el-table-column label="จำนวนคนไข้" prop="amount"> </el-table-column>
          <el-table-column label="สถานะ" prop="status">
            <template slot-scope="props">
              <div>
                <div class="text-success" v-if="props.row.status">
                  <i class="fa-solid fa-circle"></i> ออนไลน์
                </div>
                <div v-else><i class="fa-solid fa-circle"></i> ออฟไลน์</div>
              </div>
            </template>
          </el-table-column>
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-row :gutter="16">
                <el-col :span="12" :lg="6">
                  <div class="flex items-center">
                    <el-avatar :size="35" :src="squareUrl"></el-avatar>
                    <div class="ml-3">
                      <p class="text-muted">คนไข้ : 1</p>
                      <p>สุมชาย อุดมสุข</p>
                    </div>
                  </div>
                </el-col>
                <el-col :span="12" :lg="6"
                  ><p class="text-muted">ความต้องการ</p>
                  <p>พยาบาล</p></el-col
                >
                <el-col :span="12" :lg="6"
                  ><p class="text-muted">ทักษะความต้องการ</p>
                  <p>ดูแลเด็ก, จัดอาหาร, วัดความดัน ฯลฯ</p></el-col
                >
                <el-col :span="12" :lg="6"
                  ><p class="text-muted">รายละเอียด</p>
                  <p>ดูแลเด็กเล็กตรวจวัดความดัน</p></el-col
                >
              </el-row>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
  </div>
</template>

<script>
import "@/mixin/dashboardTemplate";
export default {
  computed: {
    provinceOption() {
      return this.$store.state.province;
    },
    memberLevel() {
      return this.$store.state.member;
    },
  },
  data() {
    return {
      filter: {
        province: "",
        member: "",
        status: 0,
        search: "",
      },
      tableData: [
        {
          name: "ธนันกรกานต์ สุขโวหาร",
          tel: "099 999 9999",
          level: "ทั่วไป",
          province: "กรุงเทพมหานคร",
          amount: 2,
          status: 1,
        },
        {
          name: "Stuart Carroll",
          tel: "099 999 9999",
          level: "Gold",
          province: "กรุงเทพมหานคร",
          amount: 3,
          status: 1,
        },
        {
          name: "Noel Kshlerin",
          tel: "099 999 9999",
          level: "Silver",
          province: "กรุงเทพมหานคร",
          amount: 2,
          status: 1,
        },
        {
          name: "Mr. Janice Kub",
          tel: "099 999 9999",
          level: "ทั่วไป",
          province: "กรุงเทพมหานคร",
          amount: 3,
          status: 1,
        },
        {
          name: "Pat Anderson",
          tel: "099 999 9999",
          level: "ทั่วไป",
          province: "กรุงเทพมหานคร",
          amount: 2,
          status: 0,
        },
      ],
    };
  },
  methods: {
    formatter(row, column) {
      return row.address;
    },
  },
};
</script>

<style>
</style>