<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right ">
      <el-breadcrumb-item :to="{ path: '/finance/list' }"
        >ขอคืนเงิน</el-breadcrumb-item
      >
      <el-breadcrumb-item>ดวงใจ มีดวงสุข </el-breadcrumb-item>
    </el-breadcrumb>
    <div class="my-4">
      <el-card>
        <div class="topper">
          <h2>การขอคืนเงิน</h2>
        </div>
        <div class="mt-10">
          <div class="flex justify-between">
            <div class="flex">
              <el-avatar
                :size="80"
                :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"
              ></el-avatar>
              <div class="ml-5">
                <h2>ดวงใจ มีดวงสุข</h2>
                <div class="text-success">พยาบาล</div>
              </div>
            </div>
          </div>
          <div>
            <el-row :gutter="24">
              <el-col :span="24" :lg="12" class="border-r">
                <h4 class="my-4">ขอคืนเงิน</h4>
                <div class="flex justify-between my-3">
                  <p class="w-34 text-muted">หมายเลขรายการ :</p>
                  <p class="text-right">#291230</p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="w-28 text-muted">วันที่ส่งคำขอ :</p>
                  <p class="text-right">01/08/56</p>
                </div>
              </el-col>
              <el-col :span="24" :lg="12">
                <div class="my-4">
                  <h4>หมายเหตุการขอคืนเงิน</h4>
                  <p class="my-3">
                    ติดธุระไปตจว.ด่วน จึงไม่สามารถไปปฏิบัติงานได้
                  </p>
                </div>
              </el-col>
              <el-col :span="24">
                <hr />
              </el-col>
            </el-row>
            <el-row :gutter="24" class="my-4">
              <el-col :span="24">
                <h4>รายการ</h4>
                <div class="flex justify-between my-3">
                  <p class="w-28">ค่าเดินทาง</p>
                  <p class="text-right">
                    500 <span class="text-muted">฿</span>
                  </p>
                </div>
                <div class="flex justify-between my-3">
                  <p class="w-28">ค่าประกันงาน</p>
                  <p class="text-right">
                    1,000 <span class="text-muted">฿</span>
                  </p>
                </div></el-col
              >
            </el-row>
            <div class="money-total my-4">
              <div class="flex justify-between my-3">
                <p class="w-28">รวม</p>
                <p class="text-right">1,500 ฿</p>
              </div>
            </div>
            <el-row :gutter="32">
              <el-col :span="24" :lg="6"
                ><el-button class="w-full">ตรวจสอบตำแหน่ง</el-button>
              </el-col>
              <el-col :span="24" :lg="6" :offset="6"
                ><el-button class="w-full">ไม่อนุมัติ</el-button>
              </el-col>
              <el-col :span="24" :lg="6"
                ><el-button type="primary" class="text-white btn-primary w-full"
                  >อนุมัติ</el-button
                >
              </el-col>
            </el-row>
          </div>
        </div>
      </el-card>
      <el-row :gutter="20" class="select_range my-4 text-center">
        <el-col :span="24" :lg="8">
          <el-card :class="{ activeTab: activeTab == 1 }">
            <div class="btn_dashboard" @click="activeTab = 1">
              <h2>รายละเอียดงาน</h2>
            </div>
          </el-card></el-col
        >
        <el-col :span="24" :lg="8">
          <el-card :class="{ activeTab: activeTab == 2 }">
            <div class="btn_dashboard" @click="activeTab = 2">
              <h2>ข้อมูลคนไข้</h2>
            </div>
          </el-card></el-col
        >
        <el-col :span="24" :lg="8">
          <el-card :class="{ activeTab: activeTab == 3 }">
            <div class="btn_dashboard" @click="activeTab = 3">
              <h2>ข้อมูลพยาบาล</h2>
            </div>
          </el-card></el-col
        >
      </el-row>
      <Work v-if="activeTab == 1" />
      <PatientVue v-if="activeTab == 2" />
      <NurseVue v-if="activeTab == 3" />
    </div>
  </div>
</template>
<script>
import Work from "@/components/finance/Work.vue";
import PatientVue from "@/components/finance/Patient.vue";
import NurseVue from "@/components/finance/Nurse.vue";
export default {
  components: {
    Work,
    PatientVue,
    NurseVue,
  },
  data() {
    return {
      activeTab: 1,
    };
  },
};
</script>